@import '../variables';
@import '../mixins';


.btn__accountant,
.btn__budget,
.btn__accountant-big,
.btn__budget-big,
.btn__lawyer,
.btn__expert,
.btn__office,
.btn__company,
.btn__company-pro {
    outline: 1px solid !important;
    color: $black-color !important;
    // outline:1px solid red;
    outline-offset: -2px;

}



.btn__accountant {
    outline-color: $accountant !important;
}

.btn__budget {
    outline-color: $budget !important;
}

.btn__accountant-big {
    outline-color: $accountant-big !important;
}

.btn__budget-big {
    outline-color: $budget-big !important;
}

.btn__lawyer {
    outline-color: $lawyer !important;
}

.btn__expert {
    outline-color: $expert !important;
}

.btn__office {
    outline-color: $office !important;
}

.btn__company {
    outline-color: $company !important;
}

.btn__company-pro {
    outline-color: $company-pro !important;
}


.btn__accountant--active,
.btn__budget--active,
.btn__accountant-big--active,
.btn__budget-big--active,
.btn__lawyer--active,
.btn__expert--active,
.btn__office--active,
.btn__company--active,
.btn__company-pro--active,
.start_btn {
    border: 1px solid !important;
    color: $background-color !important;
    // border-color: $black-text !important;
}

.start_btn  {
    background-color: $btn-start-color !important;
}


.btn__accountant--active {
    background-color: $accountant !important;
}

.btn__budget--active {
    background-color: $budget !important;
}

.btn__accountant-big--active {
    background-color: $accountant-big !important;
}

.btn__budget-big--active {
    background-color: $budget-big !important;
}

.btn__lawyer--active {
    background-color: $lawyer !important;
}

.btn__expert--active {
    background-color: $expert !important;
}

.btn__office--active {
    background-color: $office !important;
}

.btn__company--active {
    background-color: $company !important;
}

.btn__company-pro--active {
    background-color: $company-pro !important;
}

.btn__universal {
    color: $black-text;
    background-color: rgb(242, 242, 242) !important;

}



.btn__universal--active,
.btn-result-universal--active {
    border: 1px solid rgb(240, 227, 240) !important;
    background-color: $btn-start-color !important;
    color: $white-color !important;
    // @include gradient();

}

@keyframes gradient {

    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


.btn-result-universal {
    background: $grey-color !important;

    color: $black-text !important;
}

// p{
//     @extend .text--base;
// }